
{% extends "master.twig" %}


{% block title %} Home {% endblock title %}

{% block body %}

    {#<div class="about-section bg-black small text-center text-white-50">#}
                   <div class="general-section">
        <p>Test</p>
    </div>


{% endblock body %}






