
{% extends "master.twig" %}


{% block title %} Home {% endblock title %}

{% block body %}

    <div class="container bg-black small text-center text-white-50">

        <p>Test</p>
    </div>


{% endblock body %}






