




<!-- Projects Section -->
<section id="projects" class="projects-section bg-light">

    <div class="container">
    {# feature block #}
        {% set feature_title = 'Header' %}
        {% set feature_description = 'Description' %}
    {{ include('featured.twig') }}

    {# Image Right block #}
    {{ include('img_right_block.twig') }}

    {# Image left block #}
    {{ include('img_left_block.twig') }}



    </div>
</section>


    {% block subscribe %}
    {% endblock %}

    {% block contact %}
    {% endblock %}





