
<footer id="colophon" class="site-footer" role="contentinfo">
    <div class="col-full">


        <section class="footer-widgets col-2 fix">


            <section class="block footer-widget-1">
                <aside id="text-2" class="widget widget_text">			<div class="textwidget"><div id="footer-top">
                            <div class="weather"><a href="http://penteli.meteo.gr/stations/agiaparaskevi/" target="_blank"><img src="http://www.acg.edu/assets/thermometer.png" width="34" height="30" style="vertical-align:middle;"> Weather in Aghia Paraskevi</a>
                            </div>
                            <div id="socials"><!--socials starts-->
                                <a class="yt" title="Youtube" href="https://www.youtube.com/user/DereeCollegeTube" target="_blank">Youtube</a>
                                <a class="ln" title="Linked In" href="https://www.linkedin.com/edu/school?id=21051&amp;trk=edu-cp-title" target="_blank">Twitter</a>
                                <a class="fb" title="Facebook" href="https://www.facebook.com/pages/Deree-The-American-College-of-Greece/181122835244320" target="_blank">Facebook</a>
                                <span><a href="http://www.acg.edu/about-acg/contact-information/">Contact Us</a></span>
                            </div><!--socials ends-->
                        </div><!--footer-top ends-->
                        <img class="footer-top-shadow" src="http://www.acg.edu/wp-content/uploads/2016/05/footer-top-shadow.png"></div>
                </aside>						</section>


            <section class="block footer-widget-2">
                <aside id="text-3" class="widget widget_text">			<div class="textwidget"><div class="copyright" align="center">
                            <div class="footer-links">
                                <div class="alba"><a href="http://www.alba.edu.gr" target="_blank">ALBA Graduate Business School at The American College of Greece</a></div>
                                <div class="acg"><a href="http://www.pierce.gr" target="_blank">Pierce - The American College of Greece</a></div>
                            </div>
                            <div class="footer-text">
                                &nbsp;<br>Copyright © 2016 The American College of Greece. 6 Gravias Street  GR-153 42 Aghia Paraskevi  Athens, Greece  Phone: +30 210 600 9800. <br>
                                Accredited by the <a href="https://cihe.neasc.org/about-our-institutions/roster/deree-college-american-college-greece" target="_blank">New England Association of Schools and Colleges​</a>. Undergraduate Programs validated by the <a href="http://www.open.ac.uk/cicp/main/validation/about-ou-validation/partner-institutions" target="_blank">Open University, UK</a>.
                                <br><br>
                                <small>Deree - The American College of Greece, a non-profit institution, admits students of any race, color and national or ethnic origin and does not discriminate in its programs.</small>
                            </div>
                        </div></div>
                </aside>						</section>


        </section><!-- /.footer-widgets  -->

        <div class="site-info">
            © The American College of Greece 2016						<br> Storefront designed by <a href="http://www.woothemes.com" alt="Premium WordPress Themes &amp; Plugins by WooThemes" title="Premium WordPress Themes &amp; Plugins by WooThemes" rel="designer">WooThemes</a>.					</div><!-- .site-info -->

    </div><!-- .col-full -->
</footer><!-- #colophon -->
