{% extends "master.twig" %}

{% block title %} Home {% endblock title %}

{% block content %}
    {#<div>#}
        {#<p>#}
            {#HELOOOOOO!!#}
        {#</p>#}
    {#</div>#}
    {#<p>HIIIIIIIIIIIIII</p>#}


{% endblock content %}

{% block info %}
    {{ include('info.twig') }}
{% endblock info %}

