<div id="content" class="site-content" tabindex="-1">
    <a href="/acg/request-information-form" id="customize">customize</a>
    <div class="col-full">

        <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">

                <article id="post-6" class="post-6 page type-page status-publish hentry">
                    <header class="entry-header">
                        <h1 class="entry-title" itemprop="name" style="display: none;"><span class="dojodigital_toggle_title">Home</span></h1>		</header><!-- .entry-header -->
                    <div class="entry-content" itemprop="mainContentOfPage">
                        <div id="pl-6"><div class="panel-grid" id="pg-6-0"><div class="panel-grid-cell" id="pgc-6-0-0"><div class="so-panel widget widget_text panel-first-child" id="panel-6-0-0-0" data-index="0">			<div class="textwidget"><h3 class="widget-title"><a href="/acg/blogs/news">news</a></h3>

                                            <!--list Created by W4 Post List Ver 2.1-->
                                            <!--W4_Post_list_2790-->
                                            <div id="w4pl-list-2790" class="w4pl">
                                                <div id="w4pl-inner-2790" class="w4pl-inner">
                                                    <ul>
                                                        <li>
                                                            <a class="post_title w4pl_post_title" href="http://www.acg.edu/news-events/news/aegean-helping-students-soar-higher/" title="View AEGEAN: Helping Students Soar Higher">AEGEAN: Helping Students Soar Higher</a>
                                                            <div class="post-excerpt">ACG’s mission is to provide students with a global, transformative, and unique educational…</div>
                                                            <a class="read_more" href="http://www.acg.edu/news-events/news/aegean-helping-students-soar-higher/" title="MORE AEGEAN: Helping Students Soar Higher">MORE</a>
                                                        </li>

                                                        <li>
                                                            <a class="post_title w4pl_post_title" href="http://www.acg.edu/news-events/news/the-constantinos-and-anneta-arvantis-endowed-scholarship/" title="View The Constantinos and Anneta Arvanitis Endowed Scholarship">The Constantinos and Anneta Arvanitis Endowed Scholarship</a>
                                                            <div class="post-excerpt">For Fall Semester 2016, the application deadline is August 25, 2016 Since its…</div>
                                                            <a class="read_more" href="http://www.acg.edu/news-events/news/the-constantinos-and-anneta-arvantis-endowed-scholarship/" title="MORE The Constantinos and Anneta Arvanitis Endowed Scholarship">MORE</a>
                                                        </li>

                                                        <li>
                                                            <a class="post_title w4pl_post_title" href="http://www.acg.edu/news-events/news/heritage-greece-bringing-greek-americans-back-home/" title="View Heritage Greece: Bringing Greek-Americans Back “Home”">Heritage Greece: Bringing Greek-Americans Back “Home”</a>
                                                            <div class="post-excerpt">Over the past six years, Deree has collaborated with the National Hellenic Society…</div>
                                                            <a class="read_more" href="http://www.acg.edu/news-events/news/heritage-greece-bringing-greek-americans-back-home/" title="MORE Heritage Greece: Bringing Greek-Americans Back “Home”">MORE</a>
                                                        </li>
                                                    </ul>
                                                </div><!--#w4pl-inner-2790-->
                                            </div><!--#w4pl-2790-->
                                            <!--END_W4_Post_list_2790-->
                                        </div>
                                    </div><div class="so-panel widget widget_text panel-last-child" id="panel-6-0-0-1" data-index="1">			<div class="textwidget"><a href="https://www.youtube.com/embed/Itt3qYIGpAY" class="nomobile youtube group1 cboxElement"><img src="http://www.acg.edu/wp-content/uploads/2016/05/content_140years_player.jpg"></a>
                                            <a href="https://www.youtube.com/embed/Itt3qYIGpAY" class="mobile youtube group1 cboxElement"><img src="http://www.acg.edu/wp-content/uploads/2016/06/mobile_140years_player.png"></a></div>
                                    </div></div><div class="panel-grid-cell" id="pgc-6-0-1"><div class="so-panel widget widget_text panel-first-child panel-last-child" id="panel-6-0-1-0" data-index="2">			<div class="textwidget"><h3 class="widget-title"><a href="http://www.acg.edu/request-information-form/">request info</a></h3>
                                            <p>Want to learn more about The American College of Greece? We invite you to submit an inquiry form identifying your area and term of interest in a brief online profile and our Admission staff will be in touch with you soon.<a class="more" href="http://www.acg.edu/request-information-form/">MORE</a></p>
                                            <p>&nbsp;</p>
                                            <a href="http://www.acg.edu/alumni-stories/" class="nomobile"><img src="http://www.acg.edu/wp-content/uploads/2016/07/Alumni-Stories-HomeImage.jpg" border="0"></a>
                                            <a href="http://www.acg.edu/alumni-stories/" class="mobile"><img src="http://www.acg.edu/wp-content/uploads/2016/07/Alumni-Stories-mobile.jpg" border="0"></a>
                                            <div class="financial"><h3 class="widget-title"><a href="http://www.acg.edu/current-students/financial-assistance/">€3.5 million in financial &amp; scholarship aid</a></h3>
                                                <p>For 140 years, ACG has provided assistance to students needing help in meeting their educational expenses, enabling outstanding scholars with demonstrated ability and promise access to a quality education, regardless of financial circumstances.</p>
                                            </div></div>
                                    </div></div><div class="panel-grid-cell" id="pgc-6-0-2"><div class="so-panel widget widget_text panel-first-child panel-last-child" id="panel-6-0-2-0" data-index="3">			<div class="textwidget"><h3 class="widget-title"><a href="http://www.acg.edu/why-give/">giving</a></h3>
                                            <p>Supporting The American College of Greece is an investment in leadership, innovation and the future. For almost a century and a half, ACG continues its commitment to preparing generations of leaders to succeed in a more complex, global, and ever-changing world. The Future Begins With You.</p>
                                            <div class="athletics">
                                                <h3 class="widget-title"><a href="http://www.acg.edu/current-students/athletics/">athletics</a></h3>
                                                <p>A 64-acre campus community, featuring Olympic-size swimming pool, FIFA-certified soccer field and track, modern classrooms, comprehensive research and library, make our campus an ideal place for learning and living, with Athens as your backdrop.</p>
                                                <a href="http://www.acg.edu/current-students/athletics/"><img src="http://www.acg.edu/wp-content/uploads/2016/06/content_featured_athelitics.jpg" class="nomobile"></a>
                                                <a href="http://www.acg.edu/current-students/athletics/"><img src="http://www.acg.edu/wp-content/uploads/2016/06/content_featured_athelitics-mobile.jpg" class="mobile"></a>
                                            </div></div>
                                    </div></div><div class="panel-grid-cell" id="pgc-6-0-3"><div class="so-panel widget widget_text panel-first-child" id="panel-6-0-3-0" data-index="4">			<div class="textwidget"><h3 class="widget-title events"><a href="http://www.acg.edu/events/">events</a></h3></div>
                                    </div><div class="so-panel widget widget_evcalwidget_sc EvcalWidget_SC" id="panel-6-0-3-1" data-index="5"><div id="evcal_widget" class="evo_widget"><div id="evcal_calendar_24" class="ajde_evcal_calendar  evoEL"><div class="evo-data" data-cyear="2016" data-cmonth="10" data-runajax="1" data-evc_open="0" data-cal_ver="2.4.3" data-mapscroll="true" data-mapformat="roadmap" data-mapzoom="18" data-ev_cnt="3" data-show_limit="no" data-tiles="no" data-sort_by="sort_date" data-filters_on="true" data-range_start="1470361891" data-range_end="1477958399" data-send_unix="1" data-ux_val="4" data-accord="0" data-rtl="no"></div><div id="evcal_head" class="calendar_header "><div class="cal_arguments" style="display:none" data-hide_past="yes" data-show_et_ft_img="no" data-event_order="ASC" data-ft_event_priority="no" data-lang="L1" data-month_incre="0" data-only_ft="no" data-evc_open="no" data-show_limit="no" data-etc_override="no" data-tiles="no" data-tile_height="0" data-tile_bg="0" data-tile_count="2" data-tile_style="0" data-s="" data-members_only="no" data-sep_month="no" data-number_of_months="3"></div><div class="clear"></div></div><div class="eventon_sorting_section" style="display:none"><div class="eventon_filter_line"><div class="eventon_filter" data-filter_field="event_location" data-filter_val="all" data-filter_type="tax" data-fl_o="IN"></div><div class="eventon_filter" data-filter_field="event_organizer" data-filter_val="all" data-filter_type="tax" data-fl_o="IN"></div><div class="eventon_filter" data-filter_field="event_type" data-filter_val="128,121,87,113,88,91,92,86,90" data-filter_type="tax" data-fl_o="IN"></div><div class="eventon_filter" data-filter_field="event_type_2" data-filter_val="all" data-filter_type="tax" data-fl_o="IN"></div><div class="eventon_filter" data-filter_field="event_type_3" data-filter_val="all" data-filter_type="tax" data-fl_o="IN"></div></div><div class="clear"></div></div><div id="eventon_loadbar_section"><div id="eventon_loadbar"></div></div><div id="evcal_list" class="eventon_events_list "><div id="event_4535" class="eventon_list_event  event" data-event_id="4535" data-colr="#25326a" itemscope="" itemtype="http://schema.org/Event"><div class="evo_event_schema" style="display:none">
                                                            <a href="http://www.acg.edu/events/discover-deree-day-sept-3/" itemprop="url"></a>
                                                            <time itemprop="startDate" datetime="2016-9-3"></time>
                                                            <time itemprop="endDate" datetime="2016-9-3"></time>
                                                            <item style="display:none" itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                                                                <span itemprop="name">Deree – The American College of Greece</span>
										<span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
											<item itemprop="streetAddress"></item>
										</span>
                                                            </item></div>
                                                        <p class="desc_trig_outter"><a data-gmtrig="1" data-exlk="0" style="border-color: #25326a;" id="evc_14728968004535" class="desc_trig sin_val evcal_list_a" data-ux_val="4"><span class="evcal_cblock " data-bgcolor="#25326a" data-smon="September" data-syr="2016"><em class="evo_date"><span class="start">3<em>Sep</em></span></em><em class="evo_time"><span class="start">10:00</span></em><em class="clear"></em></span><span class="evcal_desc evo_info hide_eventtopdata " data-latlng="3,3" data-location_address="" data-location_type="lonlat" data-location_name="Deree – The American College of Greece" data-location_status="true"><span class="evo_above_title"></span><span class="evcal_desc2 evcal_event_title" itemprop="name">ADMISSIONS: Discover Deree Day</span><span class="evo_below_title"></span><span class="evcal_desc_info"><em class="evcal_time">10:00</em> </span><span class="evcal_desc3"></span></span><em class="clear"></em></a></p><div class="clear end"></div></div><div id="event_15212" class="eventon_list_event  event" data-event_id="15212" data-colr="#25326a" itemscope="" itemtype="http://schema.org/Event"><div class="evo_event_schema" style="display:none">
                                                            <a href="http://www.acg.edu/events/graduate-psychology-sept-2016/" itemprop="url"></a>
                                                            <time itemprop="startDate" datetime="2016-9-12"></time>
                                                            <time itemprop="endDate" datetime="2016-9-12"></time>
                                                            <item style="display:none" itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                                                                <span itemprop="name">Center for the Arts Auditorium</span>
										<span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
											<item itemprop="streetAddress"></item>
										</span>
                                                            </item></div>
                                                        <p class="desc_trig_outter"><a data-gmtrig="1" data-exlk="0" style="border-color: #25326a;" id="evc_147370320015212" class="desc_trig sin_val evcal_list_a" data-ux_val="4"><span class="evcal_cblock " data-bgcolor="#25326a" data-smon="September" data-syr="2016"><em class="evo_date"><span class="start">12<em>Sep</em></span></em><em class="evo_time"><span class="start">18:00</span><span class="end">- 20:00</span></em><em class="clear"></em></span><span class="evcal_desc evo_info hide_eventtopdata " data-latlng="3,3" data-location_address="" data-location_type="lonlat" data-location_name="Center for the Arts Auditorium" data-location_status="true"><span class="evo_above_title"></span><span class="evcal_desc2 evcal_event_title" itemprop="name">Graduate Programs in Psychology ...</span><span class="evo_below_title"></span><span class="evcal_desc_info"><em class="evcal_time">18:00 - 20:00</em> </span><span class="evcal_desc3"></span></span><em class="clear"></em></a></p><div class="clear end"></div></div><div id="event_15213" class="eventon_list_event  event" data-event_id="15213" data-colr="#25326a" itemscope="" itemtype="http://schema.org/Event"><div class="evo_event_schema" style="display:none">
                                                            <a href="http://www.acg.edu/events/graduate-tesol-sept-2016/" itemprop="url"></a>
                                                            <time itemprop="startDate" datetime="2016-9-13"></time>
                                                            <time itemprop="endDate" datetime="2016-9-13"></time>
                                                            <item style="display:none" itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                                                                <span itemprop="name">Center for the Arts Auditorium</span>
										<span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
											<item itemprop="streetAddress"></item>
										</span>
                                                            </item></div>
                                                        <p class="desc_trig_outter"><a data-gmtrig="1" data-exlk="0" style="border-color: #25326a;" id="evc_147378960015213" class="desc_trig sin_val evcal_list_a" data-ux_val="4"><span class="evcal_cblock " data-bgcolor="#25326a" data-smon="September" data-syr="2016"><em class="evo_date"><span class="start">13<em>Sep</em></span></em><em class="evo_time"><span class="start">18:00</span><span class="end">- 20:00</span></em><em class="clear"></em></span><span class="evcal_desc evo_info hide_eventtopdata " data-latlng="3,3" data-location_address="" data-location_type="lonlat" data-location_name="Center for the Arts Auditorium" data-location_status="true"><span class="evo_above_title"></span><span class="evcal_desc2 evcal_event_title" itemprop="name">Graduate Program in TESOL – Op...</span><span class="evo_below_title"></span><span class="evcal_desc_info"><em class="evcal_time">18:00 - 20:00</em> </span><span class="evcal_desc3"></span></span><em class="clear"></em></a></p><div class="clear end"></div></div>			<div class="clear"></div>
                                                </div><!-- #evcal_list-->
                                                <div class="clear"></div>
                                            </div><!-- .ajde_evcal_calendar-->

                                        </div></div><div class="so-panel widget widget_text panel-last-child" id="panel-6-0-3-2" data-index="6">			<div class="textwidget"><div class="eventschannel">
                                                <a href="http://www.acg.edu/news-events/office-of-college-events/events-channel/" class="nomobile"><img src="http://www.acg.edu/wp-content/uploads/2016/06/content_eventschannel.jpg" border="0"></a>
                                                <a href="http://www.acg.edu/news-events/office-of-college-events/events-channel/" class="mobile"><img src="http://www.acg.edu/wp-content/uploads/2016/06/events-channel-mobile.jpg" border="0"></a>
                                            </div>
                                            <div class="why">
                                                <h3 class="widget-title"><a href="http://www.acg.edu/about-acg/">why ACG?</a></h3>
                                                <p>The American College of Greece is the oldest American-accredited college in Europe and the largest private college in Greece. ACG is an independent, non-profit,nonsectarian, co-educational academic institution.</p>
                                                <p><a href="http://www.open.ac.uk/cicp/main/validation/about-ou-validation/partner-institutions" target="_blank"><img src="http://www.acg.edu/wp-content/uploads/2016/07/content_content_accreditation-open-university.png" border="0"></a><a href="https://cihe.neasc.org/about-our-institutions/roster/deree-college-american-college-greece" target="_blank"><img src="http://www.acg.edu/wp-content/uploads/2016/07/content_accreditation-neasc.png" border="0"></a>
                                                </p>
                                            </div></div>
                                    </div></div></div><div class="panel-grid" id="pg-6-1"><div class="panel-grid-cell" id="pgc-6-1-0"><div class="so-panel widget widget_text panel-first-child" id="panel-6-1-0-0" data-index="7">			<div class="textwidget"><h3 class="widget-title"><a href="http://www.acg.edu/about-acg/">why ACG?</a></h3>
                                            <p>The American College of Greece is the oldest American-accredited college in Europe and the largest private college in Greece. ACG is an independent, non-profit,nonsectarian, co-educational academic institution.</p>
                                            <p><a href="http://www.open.ac.uk/cicp/main/validation/about-ou-validation/partner-institutions" target="_blank"><img src="http://www.acg.edu/wp-content/uploads/2016/07/content_content_accreditation-open-university.png" border="0"></a><a href="https://cihe.neasc.org/about-our-institutions/roster/deree-college-american-college-greece" target="_blank"><img src="http://www.acg.edu/wp-content/uploads/2016/07/content_accreditation-neasc.png" border="0"></a>
                                            </p>
                                        </div>
                                    </div><div class="so-panel widget widget_text" id="panel-6-1-0-1" data-index="8">			<div class="textwidget"><h3 class="widget-title"><a href="http://www.acg.edu/current-students/financial-assistance/">€3.5 million in financial &amp; scholarship aid</a></h3>
                                            <p>For 140 years, ACG has provided assistance to students needing help in meeting their educational expenses, enabling outstanding scholars with demonstrated ability and promise access to a quality education, regardless of financial circumstances.</p></div>
                                    </div><div class="so-panel widget widget_text panel-last-child" id="panel-6-1-0-2" data-index="9">			<div class="textwidget"><h3 class="widget-title"><a href="http://www.acg.edu/request-information-form/">request info</a></h3>
                                            <p>Want to learn more about The American College of Greece? We invite you to submit an inquiry form identifying your area and term of interest in a brief online profile and our Admission staff will be in touch with you soon.<a class="more" href="/acg/request-information-form">MORE</a></p>
                                            <p>&nbsp;</p></div>
                                    </div></div><div class="panel-grid-cell" id="pgc-6-1-1"><div class="so-panel widget widget_text panel-first-child" id="panel-6-1-1-0" data-index="10">			<div class="textwidget"><a href="http://www.acg.edu/alumni-stories/" class="nomobile"><img src="http://www.acg.edu/wp-content/uploads/2016/07/Alumni-Stories-HomeImage.jpg" border="0"></a>
                                            <a href="http://www.acg.edu/alumni-stories/" class="mobile"><img src="http://www.acg.edu/wp-content/uploads/2016/07/Alumni-Stories-mobile.jpg" border="0"></a></div>
                                    </div><div class="so-panel widget widget_text panel-last-child" id="panel-6-1-1-1" data-index="11">			<div class="textwidget"><h3 class="widget-title"><a href="/acg/blogs/news">news</a></h3>

                                            <!--list Created by W4 Post List Ver 2.1-->
                                            <!--W4_Post_list_2790-->
                                            <div id="w4pl-list-2790" class="w4pl">
                                                <div id="w4pl-inner-2790" class="w4pl-inner">
                                                    <ul>
                                                        <li>
                                                            <a class="post_title w4pl_post_title" href="http://www.acg.edu/news-events/news/aegean-helping-students-soar-higher/" title="View AEGEAN: Helping Students Soar Higher">AEGEAN: Helping Students Soar Higher</a>
                                                            <div class="post-excerpt">ACG’s mission is to provide students with a global, transformative, and unique educational…</div>
                                                            <a class="read_more" href="http://www.acg.edu/news-events/news/aegean-helping-students-soar-higher/" title="MORE AEGEAN: Helping Students Soar Higher">MORE</a>
                                                        </li>

                                                        <li>
                                                            <a class="post_title w4pl_post_title" href="http://www.acg.edu/news-events/news/the-constantinos-and-anneta-arvantis-endowed-scholarship/" title="View The Constantinos and Anneta Arvanitis Endowed Scholarship">The Constantinos and Anneta Arvanitis Endowed Scholarship</a>
                                                            <div class="post-excerpt">For Fall Semester 2016, the application deadline is August 25, 2016 Since its…</div>
                                                            <a class="read_more" href="http://www.acg.edu/news-events/news/the-constantinos-and-anneta-arvantis-endowed-scholarship/" title="MORE The Constantinos and Anneta Arvanitis Endowed Scholarship">MORE</a>
                                                        </li>

                                                        <li>
                                                            <a class="post_title w4pl_post_title" href="http://www.acg.edu/news-events/news/heritage-greece-bringing-greek-americans-back-home/" title="View Heritage Greece: Bringing Greek-Americans Back “Home”">Heritage Greece: Bringing Greek-Americans Back “Home”</a>
                                                            <div class="post-excerpt">Over the past six years, Deree has collaborated with the National Hellenic Society…</div>
                                                            <a class="read_more" href="http://www.acg.edu/news-events/news/heritage-greece-bringing-greek-americans-back-home/" title="MORE Heritage Greece: Bringing Greek-Americans Back “Home”">MORE</a>
                                                        </li>
                                                    </ul>
                                                </div><!--#w4pl-inner-2790-->
                                            </div><!--#w4pl-2790-->
                                            <!--END_W4_Post_list_2790-->
                                        </div>
                                    </div></div><div class="panel-grid-cell" id="pgc-6-1-2"><div class="so-panel widget widget_text panel-first-child" id="panel-6-1-2-0" data-index="12">			<div class="textwidget"><h3 class="widget-title events"><a href="http://www.acg.edu/events/">events</a></h3></div>
                                    </div><div class="so-panel widget widget_evcalwidget_sc EvcalWidget_SC" id="panel-6-1-2-1" data-index="13"><div id="evcal_widget" class="evo_widget"><div id="evcal_calendar_28" class="ajde_evcal_calendar  evoEL"><div class="evo-data" data-cyear="2016" data-cmonth="10" data-runajax="1" data-evc_open="0" data-cal_ver="2.4.3" data-mapscroll="true" data-mapformat="roadmap" data-mapzoom="18" data-ev_cnt="3" data-show_limit="no" data-tiles="no" data-sort_by="sort_date" data-filters_on="true" data-range_start="1470361891" data-range_end="1477958399" data-send_unix="1" data-ux_val="4" data-accord="0" data-rtl="no"></div><div id="evcal_head" class="calendar_header "><div class="cal_arguments" style="display:none" data-hide_past="yes" data-show_et_ft_img="no" data-event_order="ASC" data-ft_event_priority="no" data-lang="L1" data-month_incre="0" data-only_ft="no" data-evc_open="no" data-show_limit="no" data-etc_override="no" data-tiles="no" data-tile_height="0" data-tile_bg="0" data-tile_count="2" data-tile_style="0" data-s="" data-members_only="no" data-sep_month="no" data-number_of_months="3"></div><div class="clear"></div></div><div class="eventon_sorting_section" style="display:none"><div class="eventon_filter_line"><div class="eventon_filter" data-filter_field="event_location" data-filter_val="all" data-filter_type="tax" data-fl_o="IN"></div><div class="eventon_filter" data-filter_field="event_organizer" data-filter_val="all" data-filter_type="tax" data-fl_o="IN"></div><div class="eventon_filter" data-filter_field="event_type" data-filter_val="128,121,87,113,88,91,92,86,90" data-filter_type="tax" data-fl_o="IN"></div><div class="eventon_filter" data-filter_field="event_type_2" data-filter_val="all" data-filter_type="tax" data-fl_o="IN"></div><div class="eventon_filter" data-filter_field="event_type_3" data-filter_val="all" data-filter_type="tax" data-fl_o="IN"></div></div><div class="clear"></div></div><div id="eventon_loadbar_section"><div id="eventon_loadbar"></div></div><div id="evcal_list" class="eventon_events_list "><div id="event_4535" class="eventon_list_event  event" data-event_id="4535" data-colr="#25326a" itemscope="" itemtype="http://schema.org/Event"><div class="evo_event_schema" style="display:none">
                                                            <a href="http://www.acg.edu/events/discover-deree-day-sept-3/" itemprop="url"></a>
                                                            <time itemprop="startDate" datetime="2016-9-3"></time>
                                                            <time itemprop="endDate" datetime="2016-9-3"></time>
                                                            <item style="display:none" itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                                                                <span itemprop="name">Deree – The American College of Greece</span>
										<span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
											<item itemprop="streetAddress"></item>
										</span>
                                                            </item></div>
                                                        <p class="desc_trig_outter"><a data-gmtrig="1" data-exlk="0" style="border-color: #25326a;" id="evc_14728968004535" class="desc_trig sin_val evcal_list_a" data-ux_val="4"><span class="evcal_cblock " data-bgcolor="#25326a" data-smon="September" data-syr="2016"><em class="evo_date"><span class="start">3<em>Sep</em></span></em><em class="evo_time"><span class="start">10:00</span></em><em class="clear"></em></span><span class="evcal_desc evo_info hide_eventtopdata " data-latlng="3,3" data-location_address="" data-location_type="lonlat" data-location_name="Deree – The American College of Greece" data-location_status="true"><span class="evo_above_title"></span><span class="evcal_desc2 evcal_event_title" itemprop="name">ADMISSIONS: Discover Deree Day</span><span class="evo_below_title"></span><span class="evcal_desc_info"><em class="evcal_time">10:00</em> </span><span class="evcal_desc3"></span></span><em class="clear"></em></a></p><div class="clear end"></div></div><div id="event_15212" class="eventon_list_event  event" data-event_id="15212" data-colr="#25326a" itemscope="" itemtype="http://schema.org/Event"><div class="evo_event_schema" style="display:none">
                                                            <a href="http://www.acg.edu/events/graduate-psychology-sept-2016/" itemprop="url"></a>
                                                            <time itemprop="startDate" datetime="2016-9-12"></time>
                                                            <time itemprop="endDate" datetime="2016-9-12"></time>
                                                            <item style="display:none" itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                                                                <span itemprop="name">Center for the Arts Auditorium</span>
										<span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
											<item itemprop="streetAddress"></item>
										</span>
                                                            </item></div>
                                                        <p class="desc_trig_outter"><a data-gmtrig="1" data-exlk="0" style="border-color: #25326a;" id="evc_147370320015212" class="desc_trig sin_val evcal_list_a" data-ux_val="4"><span class="evcal_cblock " data-bgcolor="#25326a" data-smon="September" data-syr="2016"><em class="evo_date"><span class="start">12<em>Sep</em></span></em><em class="evo_time"><span class="start">18:00</span><span class="end">- 20:00</span></em><em class="clear"></em></span><span class="evcal_desc evo_info hide_eventtopdata " data-latlng="3,3" data-location_address="" data-location_type="lonlat" data-location_name="Center for the Arts Auditorium" data-location_status="true"><span class="evo_above_title"></span><span class="evcal_desc2 evcal_event_title" itemprop="name">Graduate Programs in Psychology ...</span><span class="evo_below_title"></span><span class="evcal_desc_info"><em class="evcal_time">18:00 - 20:00</em> </span><span class="evcal_desc3"></span></span><em class="clear"></em></a></p><div class="clear end"></div></div><div id="event_15213" class="eventon_list_event  event" data-event_id="15213" data-colr="#25326a" itemscope="" itemtype="http://schema.org/Event"><div class="evo_event_schema" style="display:none">
                                                            <a href="http://www.acg.edu/events/graduate-tesol-sept-2016/" itemprop="url"></a>
                                                            <time itemprop="startDate" datetime="2016-9-13"></time>
                                                            <time itemprop="endDate" datetime="2016-9-13"></time>
                                                            <item style="display:none" itemprop="location" itemscope="" itemtype="http://schema.org/Place">
                                                                <span itemprop="name">Center for the Arts Auditorium</span>
										<span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
											<item itemprop="streetAddress"></item>
										</span>
                                                            </item></div>
                                                        <p class="desc_trig_outter"><a data-gmtrig="1" data-exlk="0" style="border-color: #25326a;" id="evc_147378960015213" class="desc_trig sin_val evcal_list_a" data-ux_val="4"><span class="evcal_cblock " data-bgcolor="#25326a" data-smon="September" data-syr="2016"><em class="evo_date"><span class="start">13<em>Sep</em></span></em><em class="evo_time"><span class="start">18:00</span><span class="end">- 20:00</span></em><em class="clear"></em></span><span class="evcal_desc evo_info hide_eventtopdata " data-latlng="3,3" data-location_address="" data-location_type="lonlat" data-location_name="Center for the Arts Auditorium" data-location_status="true"><span class="evo_above_title"></span><span class="evcal_desc2 evcal_event_title" itemprop="name">Graduate Program in TESOL – Op...</span><span class="evo_below_title"></span><span class="evcal_desc_info"><em class="evcal_time">18:00 - 20:00</em> </span><span class="evcal_desc3"></span></span><em class="clear"></em></a></p><div class="clear end"></div></div>			<div class="clear"></div>
                                                </div><!-- #evcal_list-->
                                                <div class="clear"></div>
                                            </div><!-- .ajde_evcal_calendar-->

                                        </div></div><div class="so-panel widget widget_text panel-last-child" id="panel-6-1-2-2" data-index="14">			<div class="textwidget"><div class="eventschannel">
                                                <a href="http://www.acg.edu/news-events/office-of-college-events/events-channel/" class="nomobile"><img src="http://www.acg.edu/wp-content/uploads/2016/06/content_eventschannel.jpg" border="0"></a>
                                                <a href="http://www.acg.edu/news-events/office-of-college-events/events-channel/" class="mobile"><img src="http://www.acg.edu/wp-content/uploads/2016/06/events-channel-mobile.jpg" border="0"></a>
                                            </div></div>
                                    </div></div><div class="panel-grid-cell" id="pgc-6-1-3"><div class="so-panel widget widget_text panel-first-child" id="panel-6-1-3-0" data-index="15">			<div class="textwidget"><h3 class="widget-title"><a href="http://www.acg.edu/why-give/">giving</a></h3>
                                            <p>Supporting The American College of Greece is an investment in leadership, innovation and the future. For almost a century and a half, ACG continues its commitment to preparing generations of leaders to succeed in a more complex, global, and ever-changing world. The Future Begins With You.</p>
                                            <a href="https://www.youtube.com/embed/Itt3qYIGpAY" class="yearsplayer youtube group1 cboxElement"><img src="http://www.acg.edu/wp-content/uploads/2016/05/content_140years_player.jpg"></a>
                                            <a href="https://www.youtube.com/embed/Itt3qYIGpAY" class="yearsplayermobile youtube group1 cboxElement"><img src="http://www.acg.edu/wp-content/uploads/2016/06/mobile_140years_player.png"></a>
                                            <p>&nbsp;</p>
                                        </div>
                                    </div><div class="so-panel widget widget_text panel-last-child" id="panel-6-1-3-1" data-index="16">			<div class="textwidget"><h3 class="widget-title"><a href="http://www.acg.edu/current-students/athletics/">athletics</a></h3>
                                            <p>A 64-acre campus community, featuring Olympic-size swimming pool, FIFA-certified soccer field and track, modern classrooms, comprehensive research and library, make our campus an ideal place for learning and living, with Athens as your backdrop.</p>
                                            <a href="http://www.acg.edu/current-students/athletics/"><img src="http://www.acg.edu/wp-content/uploads/2016/06/content_featured_athelitics.jpg" class="nomobile"></a>
                                            <a href="http://www.acg.edu/current-students/athletics/"><img src="http://www.acg.edu/wp-content/uploads/2016/06/content_featured_athelitics-mobile.jpg" class="mobile"></a>
                                            <p>&nbsp;</p></div>
                                    </div></div></div></div>					</div><!-- .entry-content -->
                </article><!-- #post-## -->

            </main><!-- #main -->
        </div><!-- #primary -->

    </div><!-- .col-full -->
</div><!-- #content -->
