{% extends "master.twig" %}

{# Tab title #}
{% block title %} Log-in {% endblock title %}

{% block content %}

<center>
    <div style="border: 5px solid white; border-radius: 25px; display: inline-block; height: 450px; padding: 50px; margin-bottom: 20px;">

        {# Form to collect user's login credentials#}
    <form action="/login" method="post">

        <h1 style="color: white; opacity: 0.9;">Login Form</h1>
        <div>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required="" style="margin: 3px; width: 600px; height: 60px; background-color: #333367;" />
        </div>
        <div>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="" style="margin: 3px; width: 600px; height: 60px;" />
        </div>
        <br>
        <div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" style=" width: 200px; height: 60px;">Login</button>
            <a href="#" style="font-weight: bold;">Lost your password?</a>
        </div>

        <div class="clearfix"></div>
    </form>

        {% if error is defined %}
            <p style="font-size: large; color: red; opacity: 0.8;"> {{ error.message }}</p>
        {% endif %}

    </div>
</center>

{% endblock content %}
