<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#" itemscope="itemscope" itemtype="http://schema.org/WebPage" class="">

<head>

    {{ include('head.twig') }}

    {% block head %}
    {% endblock %}



</head>


<body id="page-top">

{{ include('nav.twig') }}

    {% block body %}

    {% endblock %}

</body>


{{ include ('footer.twig') }}

</html>