<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#" itemscope="itemscope" itemtype="http://schema.org/WebPage" class="">

<head>

    {{ include('head.twig') }}

    {% block head %}
    {% endblock %}

        <title> {% block title %}{% endblock %} </title>


    <style>
        body{
            color: white;
        }
    </style>

</head>


<body class="home page page-id-6 page-template page-template-template-homepage page-template-template-homepage-php wp-custom-logo _masterslider _msp_version_2.29.0 siteorigin-panels siteorigin-panels-home fully-background group-blog no-wc-breadcrumb storefront-full-width-content right-sidebar page-home yesp-youtube-iframe-ready mg_new_loader">
<!-- Google Tag Manager -->

    {% block nav %}
        {{ include('nav.twig') }}
    {% endblock nav %}

    <div style="padding: 2%;">
        {% block content %}
        {% endblock content %}
    </div>


    {% block info %}
    {% endblock info %}


{% block footer %}
{% endblock %}



</body>
</html>