{% extends "master.twig" %}


{% block head %}

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="css/nprogress.css" rel="stylesheet">

    <!-- Custom styling plus plugins -->
    <link href="css/custom.min.css" rel="stylesheet">

{% endblock head %}

    {% block title %} Who's in The Gym Now?{% endblock title %}


{% block content %}


    <div class="row">
        <div class="col-md-12" style="width: 100%">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Friends at The Gym Right Now!</h2>
                    <form style="margin: 0; border-left: 1px solid #5F656A;" role="search" method="get" class="search-form" action="/friendsRealTime">
                        <label style="display: inline-block;">
                            <span class="screen-reader-text">Search for:</span>
                            <input style="margin: 0;" type="search" class="search-field" placeholder="Search …" value="" name="keyword">
                        </label>
                        <input type="submit" class="search-submit" value="Search">
                    </form>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="row">

                        {% for user in users %}
                            <div class="col-md-2" style="width:50%; margin-bottom: 5%;">
                                <div class="thumbnail">
                                    <div class="image view view-first">
                                        <img style="width: 100%; height: 150%; display: block;" src="images/{{ user.picture }}" alt="image" />
                                    </div>
                                    <div class="caption">
                                        <p style="color: black; font-size: large; font-weight: bold;">{{ user.name }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>



{% endblock content %}

{% block info %}
{% endblock info %}




