{% extends 'master.twig' %}

{% block head %}
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <script src="js/jquery-1.12.4.js"></script>
    <script src="js/jquery-ui.js"></script>

    <script>
        $( function() {
            $( "#sortable" ).sortable();
            $( "#sortable" ).disableSelection();
        } );
    </script>

    <style>
        #sortable { text-decoration:none; list-style: none; }
        #sortable li { background-color: #DD9787; opacity: 0.8; margin: 1.5% 0; width: 50%; font-size: larger; padding: 0.5%;}
    </style>
{% endblock head %}


{% block content %}

    <form action="/submitProgram" id="programForm" method="post" class="form-horizontal">
        <h3 style="color: lightcoral;">Personal Details</h3>
        <div class="control-group">
            <label class="control-label" for="height">Height (in cm)</label>
            <div class="controls">
                <input type="number" id="height" name="height" placeholder="Your height.." max="250" required>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="weight">Weight (in kg)</label>
            <div class="controls">
                <input type="number" id="weight" name="weight" placeholder="Your weight.." max="300" required>
            </div>
        </div>
        <h3 style="color: lightcoral;">Fitness History</h3>
        <div class="control-group">
            <label for="pastExercise" class="control-label">Have you been involved with any sort of exercise in the past?</label>
            <div class="controls">
                <label class="radio">
                    <input type="radio" name="pastExercise" id="pastExercise" value="1">
                    Yes
                </label>
                <label class="radio">
                    <input type="radio" name="pastExercise" id="pastExercise" value="0" checked>
                    No
                </label>
            </div>
        </div>
        <div class="control-group">
            <label for="currentlyExercising" class="control-label">Are you currently exercising?</label>
            <div class="controls">
                <label class="radio">
                    <input type="radio" name="currentlyExercising" id="currentlyExercisingYes" value="1">
                    Yes
                </label>
                <label class="radio">
                    <input type="radio" name="currentlyExercising" id="currentlyExercisingNo" value="0" checked>
                    No
                </label>
            </div>
        </div>
        <div class="control-group">
            <label for="currentExercisingIntensity" class="control-label">If yes, how intense?</label>
            <div class="controls">
                <label class="radio">
                    <input type="radio" name="currentExercisingIntensity" id="currentExercisingIntensity0" value="0" checked disabled>
                    Light (1x/week)
                </label>
                <label class="radio">
                    <input type="radio" name="currentExercisingIntensity" id="currentExercisingIntensity1" value="1" disabled>
                    Moderate (2-3x/week)
                </label>
                <label class="radio">
                    <input type="radio" name="currentExercisingIntensity" id="currentExercisingIntensity2" value="2" disabled>
                    Heavy (5-6x/week)
                </label>
            </div>
        </div>
        <div class="control-group">
            <label for="activities">What activities are you involved in?</label>
            <div class="controls">
                <textarea id="activities" name="activities" placeholder="ex: cardio, sports, etc." rows="3" maxlength="100" required></textarea>
            </div>
        </div>
        <h3 style="color: lightcoral;">Exercise Goals</h3>
        <div class="control-group">
            <label class="control-label">Which days would you like to exercise?</label>
            <div class="controls" required>
                <label class="checkbox">
                    <input type="checkbox" name="monday" id="monday" value=1>
                    Monday
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="tuesday" id="tuesday" value=1>
                    Tuesday
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="wednesday" id="wednesday" value=1>
                    Wednesday
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="thursday" id="thursday" value=1>
                    Thursday
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="friday" id="friday" value=1>
                    Friday
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="saturday" id="saturday" value=1>
                    Saturday
                </label>
                <label class="checkbox">
                    <input type="checkbox" name="sunday" id="sunday" value=1>
                    Sunday
                </label>
            </div>
        </div>
        <div class="control-group">
            <label for="comments">Comments for the fitness trainer:</label>
            <div class="controls">
                <textarea id="comments" name="comments" placeholder="ex: health issues, etc." rows="3" maxlength="150"></textarea>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="hidden" id="goal" name="goal" data-docue value="">
            </div>
        </div>
        <div>
            <ul id="sortable">
                <li id="developMuscleStrength">
                    Develop Muscle Tone/Strength
                </li>
                <li id="rehabilitateInjury">
                    Rehabilitate an Injury
                </li>
                <li id="overallFitness">
                    Overall Fitness
                </li>
                <li id="loseBodyFat">
                    Lose Body Fat
                </li>
                <li id="startExerciseProgram">
                    Start and Exercise Program
                </li>
                <li id="designAdvanceProgram">
                    Design a More Advanced Program
                </li>
                <li id="increaseFlexibility">
                    Increase Flexibility
                </li>
                <li id="sportsSpecificTraining">
                    Sports Specific Training
                </li>
                <li id="increaseMuscleSize">
                    Increase Muscle Size
                </li>
                <li id="cardioExercise">
                    Cardiovascular Exercise/Aerobic Training
                </li>
                {#<li>#}
                    {#<input type="text" placeholder="Other">#}
                {#</li>#}
            </ul>

        </div>

        <hr>
        <div class="control-group">
            <div class="controls">
                <button type="submit" id="submitProgramBtn" class="btn">Submit Request</button>
            </div>
        </div>
    </form>



    <script>
        //passing the sortable list results to the form's post before submitting
        var list = [];
        jQuery('#submitProgramBtn').click(function() {
            jQuery('#sortable').children().each(function (index) {
                console.log("ID: " + jQuery(this).attr('id'))
                //populating the list array with the user's preference
                list.push(jQuery(this).attr('id'))
            });
            //converting the array to json to be easily used with php
            var listJson = JSON.stringify(list);
            jQuery('#goal').attr('value', listJson);
        });

        //enabling exercise intensity if they have been exercising
        jQuery('#currentlyExercisingYes').click(function () {
            jQuery("#programForm input[id^=currentExercisingIntensity]:radio").attr('disabled',false);
        });
        //disabling exercise intensity if they have not been exercising
        jQuery('#currentlyExercisingNo').click(function () {
            jQuery("#programForm input[id^=currentExercisingIntensity]:radio").attr('disabled',true);
        });

        //make sure user selects at least one day of the week to workout
        $('#submitProgramBtn').click(function() {
            checked = $("input[type=checkbox]:checked").length;

            if(!checked) {
                alert("You must select at least one day a week to exercise.");
                return false;
            }

        });

    </script>








{% endblock content %}